<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>SignalSpot</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>signalspot</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>app-1-15417801912-ios-c8564595f7cc700f62084d</string>
				</array>
				<key>CFBundleURLName</key>
				<string>REVERSED_CLIENT_ID</string>
			</dict>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.signalspot.app</string>
				</array>
				<key>CFBundleURLName</key>
				<string>BUNDLE_ID</string>
			</dict>
		</array>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>주변 시그널 스팟을 표시하고 근처 사용자와 연결하기 위해 현재 위치가 필요합니다.</string>
		<key>NSCameraUsageDescription</key>
		<string>프로필 사진 촬영을 위해 카메라 접근이 필요합니다.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>프로필 사진 선택을 위해 사진 보관함 접근이 필요합니다.</string>
		<key>GMSApiKey</key>
		<string>AIzaSyAw50OEwJ6D3FiotDuB_l49nkDc-GFVr5A</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
			<string>processing</string>
			<string>fetch</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
		</array>
	</dict>
</plist>
